---
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include headBoilerplate.html title="Dev_Lan" %}
   
  {% include navOffset.html %}
</head>
<body>

{% include navbarSimple.html %}

{% include blogBodyStart.html %}

    <h1>Conway's Game of Life</h1>
    <p>
      Like many before me I have been intrigued by <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a>. I have been meaning to do a shader implementation of the algorithm for a while now, I finally sat down and did it. Each cell of the game is a single pixel on the window. In a normal game a cell is considered either alive or dead. For my implementation a cell can be alive or dead in each of the color channels, red, green, and blue. That is, a single cell or pixel may be alive in all three channels resulting in a white pixel. Alternatively, it could be alive in the red channel, but dead in green and blue, resulting in a red cell. If you want you can think of them as three game of life parallel universes.
    </p>

    <p>
      You should be able to load any image as a seed for the game of life. Keep in mind that the image will be stretched to fit the current game window, so small pixel details will be distorted if the dimensions don't fit. I am using an external library for the file dialog, so there is a possibility that this functionality won't work. If so let me know and I can try to fix the issue. The basic commands of running the game are listed in the main screen of the game. To bring back that screen simply press the "h" key.
    </p>

    <p><a href="../applications/GameOfLife.app.zip" download>DOWNLOAD MAC .APP FILE</a></p>

    <p><a href="https://github.com/Dev-Lan/gameOfLife" >SOURCE CODE</a></p>

    <img src="../img/projects/gol/mainScreen.gif"  class="img-rounded img-responsive">

    <p></p>
    <h3>I've included a handful of images I was able to create with this program.</h3>
    <p></p>

    <div class="container-fluid">
      <div id="screenshots" class="carousel slide" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#screenshots" data-slide-to="0" class="active"></li>
          <li data-target="#screenshots" data-slide-to="1"></li>
          <li data-target="#screenshots" data-slide-to="2"></li>
          <li data-target="#screenshots" data-slide-to="3"></li>
          <li data-target="#screenshots" data-slide-to="4"></li>
          <li data-target="#screenshots" data-slide-to="5"></li>
          <li data-target="#screenshots" data-slide-to="6"></li>
          <li data-target="#screenshots" data-slide-to="7"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          {% include carousel-item.html active="active" filepath="../img/projects/gol/ss1.png" caption="" %}
          
          {% include carousel-item.html filepath="../img/projects/gol/ss2.png" caption="" %}
          
          {% include carousel-item.html filepath="../img/projects/gol/ss3.png" caption="" %}
          
          {% include carousel-item.html filepath="../img/projects/gol/ss4.png" caption="" %}
          
          {% include carousel-item.html filepath="../img/projects/gol/ss5.png" caption="" %}
          
          {% include carousel-item.html filepath="../img/projects/gol/ss6.png" caption="" %}
          
          {% include carousel-item.html filepath="../img/projects/gol/ss7.png" caption="" %}
          
          {% include carousel-item.html filepath="../img/projects/gol/ss8.png" caption="" %}

        </div>

        {% include carousel-controls.html %}

      </div>
    </div>

    <p></p>

{% include blogBodyEnd.html %}

{% include footer.html %}

</body>
</html>
