.DS_Store
applications/PIPS.app/
applications/PIPS_win/
applications/boiderflies.app/
applications/graphysics.app/
applications/particles.app/
applications/planning.app/
img/research/13/c.png
img/research/13/frame_0077.png
img/research/15/Screen Shot 2015-08-31 at 1.26.28 AM.png
img/research/15/Screen Shot 2015-08-31 at 1.29.37 AM.png
tutorials/csci-intro/contentSkele.html
tutorials/startbootstrap-simple-sidebar-1.0.5.zip