---
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include headBoilerplate.html title="Dev_Lan" %}
  {% include navOffset.html %}
</head>
<body>

{% include navbarSimple.html %}

{% include blogBodyStart.html %}

<h1>Archive</h1>
<hr />

{% include bigPageLink.html
	filepath="img/bigButtons/5611-1.png"
	URL="classes/5611csci-hw1.html"
	title="Particle Systems"
	description="Particle systems have been a versatile and impressive effect in computer graphics for years. In this homework assignment I use them to create various visual effects, including bubbles and fireworks."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/5611-2.png"
	URL="classes/5611csci-hw2.html"
	title="Animating Water"
	description="Using physics to drive animations is a good way to improve the realism of the motion. In this assignment I use fundamental properties of physics to create more compelling water simulations."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/5611-3.png"
	URL="classes/5611csci-hw3.html"
	title="Pathfinding"
	description="Pathfinding is used extensively in robotics and computer graphics. I implement agent pathfinding around static obstacles using a roadmap for this assignment."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/5611-4.png"
	URL="classes/5611csci-hw4.html"
	title="Simulating Butterlies with Boids"
	description="BOIDs <a href='http://www.google.com'>test</a>"
%}

{% include bigPageLink.html
	filepath="img/bigButtons/5611-final.png"
	URL="classes/5611csci-finalProject.html"
	title="Simulated Crowds in a Game"
	description=""
%}

{% include bigPageLink.html
	filepath="img/bigButtons/viralAlert.png"
	URL="classes/JournalismProject/ViralAlert.html"
	title="Viral Alert"
	description=""
%}

{% include bigPageLink.html
	filepath="img/bigButtons/gol.png"
	URL="projects/game-of-life.html"
	title="Conway's Game of Life: Pixel Scale"
	description=""
%}


{% include blogBodyEnd.html %}

{% include footer.html %}

</body>
</html>
