---
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include headBoilerplate.html title="Devin Lange" %}
  {% include navOffset.html %}
</head>
<body>

{% include navbarSimple.html %}

{% include blogBodyStart.html %}

<h1>Past Projects</h1>
<h5>This page contains an eclectic assortment of project pages for publications, class projects, and random personal projects.</h5>
<hr />

{% include bigPageLink.html
	filepath="img/bigButtons/ferret.png"
	URL="https://ferret.sci.utah.edu/"
	title="Ferret: Reviewing Tabular Datasets for Manipulation"
	description="How can you tell if a tabular dataset comes from valid data collection methods or from thin air? This project attempts to facilitate the data forensics needed to answer this question."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/horizon-chart.png"
	URL="https://www.horizon-chart-explanation.devinlange.com/"
	title="Horizon Chart Explanation"
	description="This interactive page demonstrates how horizon chart visualizations work."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/loon.png"
	URL="https://loon.sci.utah.edu/"
	title="Loon: Using Exemplars to Visualize Large-Scale Microscopy Data"
	description="This project, ultimately published in IEEE VIS as a best paper honorable mention award uses exemplar cells to aid the comparison different cancer treatment drugs."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/image-embedding.png"
	URL="http://www.sci.utah.edu/~devin/image-embedding-viz/dist/"
	title="Visualizing Particle Shapes With Embeddings"
	description="Small particle shapes in paint affect how light interacts with the coating. This visualization aids in the exploration of different particles designs and their properties."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/mtat.png"
	URL="http://www.mtat.devinlange.com/"
	title="Multivariate Trajectory Analysis Tool (MTAT)"
	description="This visualization tool provides several tools to look at multivariate trajectory data. Created as a final project for a visualization class, some of the code/ideas generated here made it into the Loon project."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/functional-boxplot.png"
	URL="http://www.functionalboxplot.devinlange.com/"
	title="Interactive Functional Boxplot Visualization"
	description="Functional Boxplots are an extablished technique that extends traditional boxplots to work with collections of functions. This tool is an interactive implementation of that technique."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/workout.png"
	URL="http://www.fn15.devinlange.com/"
	title="My Virtual Personal Trainer"
	description="This personal project was inspired after many hours stuck at home during covid. The tool guides an interval style workout. Since it selects workouts from any google spreadsheet it was easy to craft an at-home version."
%}


{% include bigPageLink.html
	filepath="img/bigButtons/5611-1.png"
	URL="classes/5611csci-hw1.html"
	title="Particle Systems"
	description="Particle systems have been a versatile and impressive effect in computer graphics for years. In this homework assignment I use them to create various visual effects, including bubbles and fireworks."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/5611-2.png"
	URL="classes/5611csci-hw2.html"
	title="Animating Water"
	description="Using physics to drive animations is a good way to improve the realism of the motion. In this assignment I use fundamental properties of physics to create more compelling water simulations."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/5611-4.png"
	URL="classes/5611csci-hw4.html"
	title="Simulating Butterflies with Boids"
	description="Craig Reynolds' <a href='https://www.red3d.com/cwr/boids/'>boids</a> was a seminal work for creating natural motion for crowds. I use his method to animate a flock of butterflies in this graphics assignment."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/gol.png"
	URL="projects/game-of-life.html"
	title="Conway's Game of Life: Pixel Scale"
	description="The ever popular <a href='https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life'>Game of Life</a> has been fascinating computer scientists for decades. I use pixel shaders to compute the game logic and add a couple visual tweaks to create some striking visuals."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/5611-final.png"
	URL="classes/5611csci-finalProject.html"
	title="Simulated Crowds in a Game"
	description="<a href='https://store.steampowered.com/app/303590/'>Hidden in Plain Sight</a> is wonderful game that is always a fun time with friends. For my final class project my friends and I decided to pay homage to this game with our own implementation. "
%}

{% include bigPageLink.html
	filepath="img/bigButtons/5611-3.png"
	URL="classes/5611csci-hw3.html"
	title="Pathfinding"
	description="Pathfinding is used extensively in robotics and computer graphics. I implement agent pathfinding around static obstacles using a roadmap for this assignment."
%}

{% include bigPageLink.html
	filepath="img/bigButtons/viralAlert.png"
	URL="classes/JournalismProject/ViralAlert.html"
	title="Viral Alert"
	description="If anyone else has played <a href='https://www.addictinggames.com/strategy-games/pandemic2.jsp'>Pandemic</a> they know the satisfaction of infecting the world with a deadly virus. In a journalism class we discussed how things on the internet go viral. For one assignment I created a silly game where you try to ''infect'' the internet with your viral phenomenon."
%}


{% include blogBodyEnd.html %}

{% include footer.html %}

</body>
</html>
