---
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include headBoilerplate.html title="Devin Lange" %}
  {% include navOffset.html %}
</head>
<body>

{% include navbarSimple.html %}

{% include blogBodyStart.html %}

<h1>Publications</h1>
<hr />


<h3>2024</h3>
{% include publication.html
	thumbnailURL="publication/thumbnail/2024-aardvark.png"
	
	paperURL="http://dx.doi.org/10.31219/osf.io/cdbm6"
	
	authors="Devin Lange, Robert Judson-Torres, Thomas A. Zangle, Alexander Lex"
	
	paperTitle="Aardvark: Composite Visualizations of Trees, Time-Series, and Images"
	
	locationTitle="IEEE Transactions on Visualization and Computer Graphics (VIS)"

	pdfURL="publication/pdf/2024-aardvark.pdf"

	youTubeId="mA6H4-i04g4"

	website="https://vdl.sci.utah.edu/publications/2024_vis_aardvark/"


	award="IEEE VIS 2024 Best Paper Award"
%}

<h3>2023</h3>

{% include publication.html
	thumbnailURL="publication/thumbnail/2023-ferret.png"
	
	paperURL="http://dx.doi.org/10.1111/cgf.14822"
	
	authors="Devin Lange, Shaurya Sahai, Jeff M. Phillips, Alexander Lex"
	
	paperTitle="Ferret: Reviewing Tabular Datasets for Manipulation"
	
	locationTitle="Computer Graphics Forum (EuroVis)"

	pdfURL="publication/pdf/2023-ferret.pdf"

	youTubeId="NcKqIBiipvA"

	website="https://ferret.sci.utah.edu/"
%}


{% include publication.html
	thumbnailURL="publication/thumbnail/2023-troubling.png"
	
	paperURL="http://dx.doi.org/10.1145/3544548.3581168"
	
	authors="Derya Akbaba, Devin Lange, Michael Correll, Alexander Lex, Miriah Meyer"
	
	paperTitle="Troubling Collaboration: Matters of Care for Visualization Design Study"
	
	locationTitle="SIGCHI Conference on Human Factors in Computing Systems (CHI)"

	pdfURL="publication/pdf/2023-troubling.pdf"

	website="https://vdl.sci.utah.edu/publications/2023_chi_troubling/"
%}

<hr />
<h3>2021</h3>
{% include publication.html
	thumbnailURL="publication/thumbnail/2021-loon.png"
	
	paperURL="http://dx.doi.org/10.1109/TVCG.2021.3114766"
	
	authors="Devin Lange, Eddie Polanco, Robert Judson-Torres, Thomas Zangle, Alexander Lex"
	
	paperTitle="Loon: Using Exemplars to Visualize Large-Scale Microscopy Data"
	
	locationTitle="IEEE Transactions on Visualization and Computer Graphics (VIS)"

	pdfURL="publication/pdf/2021-loon.pdf"

	youTubeId="Y7u3Kg3At9A"

	website="https://loon.sci.utah.edu/"

	award="IEEE VIS 2021 Honorable Mention Award"
%}

<hr />
<h3>2017</h3>
{% include publication.html
	thumbnailURL="publication/thumbnail/2017-trajectory.png"
	
	paperURL="https://diglib.eg.org/handle/10.2312/eurovisshort20171141"
	
	authors="Devin Lange, Francesca Samsel, Ioannis Karamouzas, S. J. Guy, Rodney Dockter, Timothy Kowalewski, Daniel F. Keefe"
	
	paperTitle="Trajectory Mapper: Interactive Widgets and Artist-Designed Encodings for Visualizing Multivariate Trajectory Data"
	
	locationTitle="EuroVis 2017 – Short Papers, 2017"

	pdfURL="publication/pdf/2017-trajectory.pdf"

	youTubeId="IlOVqapORuk"
%}

<hr />
<h3>2014</h3>
{% include publication.html
	thumbnailURL="publication/thumbnail/2014-optimization.png"
	
	paperURL="https://dl.acm.org/citation.cfm?id=2668094"
	
	authors="Jose Guillermo Rangel Ramirez, Devin Lange, Panayiotis Charalambous, Claudia Esteves, Julien Pettré"
	
	paperTitle="Optimization-based Computation of Locomotion Trajectories for Crowd Patches"
	
	locationTitle="Proceedings of the Seventh International Conference on Motion in Games (MIG '14)"

	pdfURL="publication/pdf/2014-optimization.pdf"

	youTubeId="Zlqvp6et9cU"
%}


{% include blogBodyEnd.html %}

{% include footer.html %}

</body>
</html>
