---
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include headBoilerplate.html title="Devin Lange" %}
  {% include navOffset.html %}
  <script src="scripts/YouTubeOverlay.js"></script>
</head>
<body>

{% include navbarSimple.html %}

{% include blogBodyStart.html %}

<h1>Publications</h1>
<hr />


<h3>2021</h3>
{% include publication.html
	thumbnailURL="publication/thumbnail/2021-loon.png"
	
	paperURL="http://dx.doi.org/10.1109/TVCG.2021.3114766"
	
	authors="Devin Lange, Eddie Polanco, Robert Judson-Torres, Thomas Zangle, Alexander Lex"
	
	paperTitle="Loon: Using Exemplars to Visualize Large-Scale Microscopy Data"
	
	locationTitle="IEEE Transactions on Visualization and Computer Graphics (Vis)"

	pdfURL="publication/pdf/2021-loon.pdf"

	youTubeId="Y7u3Kg3At9A"

	website="https://loon.sci.utah.edu/"
%}

<hr />
<h3>2017</h3>
{% include publication.html
	thumbnailURL="publication/thumbnail/2017-trajectory.png"
	
	paperURL="https://diglib.eg.org/handle/10.2312/eurovisshort20171141"
	
	authors="Devin Lange, Francesca Samsel, Ioannis Karamouzas, S. J. Guy, Rodney Dockter, Timothy Kowalewski, Daniel F. Keefe"
	
	paperTitle="Trajectory Mapper: Interactive Widgets and Artist-Designed Encodings for Visualizing Multivariate Trajectory Data"
	
	locationTitle="EuroVis 2017 – Short Papers, 2017"

	pdfURL="publication/pdf/2017-trajectory.pdf"

	youTubeId="IlOVqapORuk"
%}

<hr />
<h3>2014</h3>
{% include publication.html
	thumbnailURL="publication/thumbnail/2014-optimization.png"
	
	paperURL="https://dl.acm.org/citation.cfm?id=2668094"
	
	authors="Jose Guillermo Rangel Ramirez, Devin Lange, Panayiotis Charalambous, Claudia Esteves, Julien Pettré"
	
	paperTitle="Optimization-based Computation of Locomotion Trajectories for Crowd Patches"
	
	locationTitle="Proceedings of the Seventh International Conference on Motion in Games (MIG '14)"

	pdfURL="publication/pdf/2014-optimization.pdf"

	youTubeId="Zlqvp6et9cU"
%}


{% include blogBodyEnd.html %}

{% include footer.html %}

</body>
</html>
