.btn {
    border-radius: 0px;
}

.btn-image {
  display:inline-block;
  text-shadow: 9px 9px 10px #000000;
  color: #ffffff;
  width: 600px;
  height: 600px;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btn-image:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 100px #256a4a;
  -moz-box-shadow: 0px 0px 100px #256a4a;
  box-shadow: 0px 0px 100px #256a4a;
}

/*grid test*/

.grid {
  font-size: 0;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
}

.btn-grid-4 {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 16px;
  width: calc(50% - 8px);
  margin-right: 16px;
  text-shadow: 9px 9px 10px #000000;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border: solid #000000 2px;
}

.btn-grid-4:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .btn-grid-4 {
    width: calc(25% - 12px);
  }
  
  .btn-grid-4:nth-of-type(2n) {
    margin-right: 16px;
  }
  
  .btn-grid-4:nth-of-type(4n) {
    margin-right: 0;
  }
}

.btn-grid-4:hover img {
  transform: scale(1.1);
}

.btn-grid-4:hover {
  text-decoration: none;
  background-color: rgba(37,106,74,0.5);
  color:black;
  -webkit-box-shadow: 0px 0px 100px #256a4a;
  -moz-box-shadow: 0px 0px 100px #256a4a;
  box-shadow: 0px 0px 100px #256a4a;
}

/*Todo can combine these for shorter file*/


.btn-grid-2 {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 16px;
  width: calc(50% - 8px);
  margin-right: 16px;
  text-shadow: 9px 9px 10px #000000;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border: solid #000000 2px;
}

.btn-grid-2:nth-of-type(2n) {
  margin-right: 0;
}

.btn-grid-2:hover img {
  transform: scale(1.1);
}

.btn-grid-2:hover {
  text-decoration: none;
  background-color: rgba(37,106,74,0.5);
  color:black;
  -webkit-box-shadow: 0px 0px 100px #256a4a;
  -moz-box-shadow: 0px 0px 100px #256a4a;
  box-shadow: 0px 0px 100px #256a4a;
}

/* todo transition to one column.*/

.btn-fig {
  margin: 0;
  overflow: hidden;
  display: block; 
  position: relative; 
}

.rollover-caption { 
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 

  opacity: 0;
  bottom: 0; 
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

figure:hover .rollover-caption {
  opacity: 1;
  left: 0;
}


.btn-fig:before { 
  content: "?"; 
  position: absolute; 
  background: rgba(255,255,255,0.75); 
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  /* Only Fx 4 supporting transitions on psuedo elements so far... */
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  opacity: 0.60;  
  bottom: 10px; left: 10px;
}
.btn-fig:hover:before {
  opacity: 0;
}


.btn-img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}
/*end grid test*/


 /*centered columns styles */
.row-centered {
  text-align:center;
  padding: 0px;
  padding-top: 25px; 
}
.col-centered {
  display:inline-block;
  float:none;
   /*reset the text-align */
  text-align:left;
   /*inline-block space fix */
  margin-right:-4px;

  padding-top:0px;
  padding-bottom:0px;

  /*border: 2px solid #B8B8B8;*/
  /*border-radius: 5px;*/

  -webkit-box-shadow: 0px 0px 20px black;
  -moz-box-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 20px black;

  min-height:100vh;

  background: #FFF;
}




/*
#######################
*/


body,li,ol,ul { 
  font-family: 'PT Sans', sans-serif;
}

p {
  font-size: 1.25em;
}

li,ol,ul {
  font-size: 1.20em;
}



h1,h2,h3,h4,h5,h6,nav {
  font-family: 'Architects Daughter', cursive;
}

h1 {
  text-align: center;
}

.hover-glow {
  color: white;
}

.hover-glow:hover {
  /*color: blue;*/
  /*filter: blur(1px)*/
  background-color: #FFF;

}

/*TODO: add garnish*/
/*body {
  background-image: url("../img/wheat-015.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
}*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-width: 100%;
  margin: auto;
}

.no-pad {
  padding: 0px;
}

.scroll-wrapper {
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}

.parallax {
  padding-top: 1%; 
  padding-bottom: 1%; 
  width: 100vw;
}

.parallax:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

#checker:before {
  background: url("../img/checker-512.png");
  
  -ms-transform:  translateZ(-4px) scale(5);
  -webkit-transform:  translateZ(-4px) scale(5);
  transform: translateZ(-4px) scale(5);
  z-index:-1;
}