
/*body {
    background-image: url(../img/checker-512.png);
    background-attachment: fixed;
    transform: translateZ(-1px) scale(2);
    z-index:-1;
}
*/

.btn {
    border-radius: 0px;
}

.btn-image {
  display:block;
  text-shadow: 9px 9px 10px #000000;
  color: #ffffff;
  width: 600px;
  height: 600px;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btn-image:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 100px #256a4a;
  -moz-box-shadow: 0px 0px 100px #256a4a;
  box-shadow: 0px 0px 100px #256a4a;
}

 /*centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
     /*reset the text-align */
    text-align:left;
     /*inline-block space fix */
    margin-right:-4px;

    padding-top:0px;
    padding-bottom:0px;
  border:10px solid #80aa00;
  background:#222222;
}




/*
#######################

*/


html {
/*   height: 100%; */
  overflow: hidden;
}

body { 
/*   margin:0; */
/*   padding:0; */
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.parallax {
  position: relative;
  /* padding: 25vh 10%; */
  /* min-height: 100vh; */
  width: 100vw;
  height: 100vh;
  /* box-sizing: border-box; */
  /* transform-style: inherit; */
}

.parallax:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.parallax, .parallax:before {
   /*background: 50% 50% / cover; */
}

#checker:before {
  background: url("../img/checker-512.png") no-repeat;
  transform: translateZ(-4px) scale(5);
  z-index:-1;
}