<nav style="background: #333" class="navbar navbar-fixed-top">
  <div class="navbarContainer">
      <a style="font-size: 2.25em;" class="navbar-brand hover-glow" href="https://dev-lan.github.io/index.html"><span class="glyphicon glyphicon-grain" style="vertical-align: middle;"></span>  Devin Lange</a>
      <a style="font-size: 1.5em;" class="navbar-brand hover-glow" href="https://dev-lan.github.io/publications.html">Publications</a>
      <a style="font-size: 1.5em;" class="navbar-brand hover-glow" href="https://dev-lan.github.io/archive.html">Projects</a>
  </div>
</nav>