<nav style="background: #333" class="navbar navbar-fixed-top">
  <div class="navbarContainer">
        <span>
            <a style="font-size: 2.25em;" class="navbar-brand hover-glow" href="/index.html"><span class="glyphicon glyphicon-grain" style="vertical-align: middle;"></span>  Devin Lange</a>
            <button style="font-size: 2em;" class="navbar-brand hover-glow hamburger" onclick="menuStyle = document.getElementById('mobile-menu').style; menuStyle.display === '' ? menuStyle.display = 'none' : menuStyle.display = '';"><i class="fas fa-bars"></i></button>
        </span>
        <span class="hide-on-mobile">
            <a style="font-size: 1.5em;" class="navbar-brand hover-glow" href="/publications.html">Publications</a>
            <a style="font-size: 1.5em;" class="navbar-brand hover-glow" href="/archive.html">Past Projects</a>
            <a style="font-size: 1.5em;" class="navbar-brand hover-glow" href="/Devin_Lange_Resume.pdf"><i class="fas fa-file-alt"></i> CV</a>
        </span>
        <span id="mobile-menu" class="show-on-mobile" style="display: none;">
            <a style="font-size: 1.5em;" class="navbar-brand hover-glow" href="/publications.html">Publications</a>
            <a style="font-size: 1.5em;" class="navbar-brand hover-glow" href="/archive.html">Past Projects</a>
            <a style="font-size: 1.5em;" class="navbar-brand hover-glow" href="/Devin_Lange_Resume.pdf"><i class="fas fa-file-alt"></i> CV</a>
        </span>
  </div>
</nav>