<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href="http://dev-lan.github.io/index.html"><img width="50" height="50" src="http://dev-lan.github.io/img/me/smallRound.png"></a>
      <a class="navbar-brand" href="http://dev-lan.github.io/index.html">Devin Lange</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="index.html">Home</a></li> -->
        <li><a href="http://dev-lan.github.io/projects.html">Projects</a></li>
        <li><a href="http://dev-lan.github.io/research.html">Research</a></li>
        <li><a href="http://dev-lan.github.io/classes.html">Classes</a></li>
        <li><a href="http://dev-lan.github.io/contact.html">Contact</a></li>
        <!-- <li><a href="http://dev-lan.github.io/tutorials.html">Tutorials</a></li> -->
      </ul>
    </div>
  </div>
</nav>