<div class="pubContainer">
	<a class="pubThumbnailLink" href="{{ include.paperURL }}"><img class="pubThumbnail" src="{{ include.thumbnailURL }}"></a>
	<div class="pubContentContainer">
		<div class="pubTitleContainer"><a href="{{ include.paperURL }}">{{ include.paperTitle }}</a></div>
		<div class="pubAuthorContainer">{{ include.authors }}</div>
		<div class="pubLocationContainer">In <span class="location">{{ include.locationTitle }}<span></div>
		{% if include.award %}
		<div class="pubAward"><i class="fas fa-award"></i> {{include.award}}</div>
		{% endif %}	
		<div class="pubIconLinksContainer">
			<a class="pubIconLink" href={{ include.pdfURL }}>Paper <i class="far fa-file-pdf"></i></a>
			{% if include.youTubeId %}
			{% capture youtubeURL %}{{ "https://www.youtube.com/watch?v=" }}{{ include.youTubeId }}{% endcapture %}
			<a class="pubIconLink" href={{youtubeURL}}>Video <i class="fab fa-youtube"></i></a>
			{% endif %}
			{% if include.website %}
			<a class="pubIconLink" href={{include.website }}>Website <i class="fa fa-globe"></i></a>
			{% endif %}
		</div>
	</div>
</div>