<div class="pubContainer">
	<a href="{{ include.paperURL }}"><img class="pubThumbnail" src="{{ include.thumbnailURL }}"></a>
	<div class="pubContentContainer">
		<div class="pubTitleContainer"><a href="{{ include.paperURL }}">{{ include.paperTitle }}</a></div>
		<div class="pubAuthorContainer">{{ include.authors }}</div>
		<div class="pubLocationContainer">In <span class="location">{{ include.locationTitle }}<span></div>
		{% if include.award %}
		<div class="pubAward"><i class="fas fa-award"></i> {{include.award}}</div>
		{% endif %}	
		<div class="pubIconLinksContainer">
			<button class="pubIconLink" onclick="window.location.href = '{{ include.pdfURL }}';">Paper <i class="far fa-file-pdf"></i></button>
			<button class="pubIconLink" onclick='onYouTubeLinkClick("{{ include.youTubeId }}")'>Video <i class="fab fa-youtube"></i></button>
			{% if include.website %}
			<button class="pubIconLink" onclick="window.location.href = '{{ include.website }}';">Website <i class="fa fa-globe"></i></button>
			{% endif %}
		</div>
	</div>
</div>