        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="http://dev-lan.github.io/tutorials/csci-intro/home.html">Home</a>
                </li>
                <li>
                    <a href="http://dev-lan.github.io/tutorials/csci-intro/gettingStarted.html">Getting Started With Processing</a>
                </li>
                <li>
                    <a href="http://dev-lan.github.io/tutorials/csci-intro/lesson_0.html">Lesson_0 : Data</a>
                </li>
                <li>
                    <a href="http://dev-lan.github.io/tutorials/csci-intro/lesson_1.html">Lesson_1 : Functions</a>
                </li>
            </ul>
        </div>