---
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include headBoilerplate.html title="Dev_Lan" %}
   
  {% include navOffset.html %}
</head>
<body>

{% include navbarSimple.html %}

{% include blogBodyStart.html %}
  
    <h1><a href="5611csci.html">Animation and Planning in Games</a></h1>
    <h2>Final Project : Plagiarized in Plain Sight</h2>
    <h4>Group Members : Devin Lange, Sam Vipond, Josh Ford, Thomas Hvizdos</h4>

    <p>For our final project we were inspired by the game <a href="https://adamspragggames.blogspot.com/">Hidden in Plain Sight.</a> A super fun game which you should all buy copies of <a href="https://store.steampowered.com/app/303590/">here</a> and <a href="https://marketplace.xbox.com/en-US/Product/Hidden-in-Plain-Sight/66acd000-77fe-1000-9115-d802585509e7">here</a>. The most interesting aspect to us is that a major goal of the player is to move in a way that convinces other players it is a bot. However we wanted to extend the original agents motion to have more realistic crowd motion. So in short we implemented Ninja Party, our favorite game mode in Hidden in Plain Sight with more realistic crowd motion, animation, and rendering.</p>

    <p><a href="../applications/PIPS.app.zip" download>DOWNLOAD MAC .APP FILE</a></p>
    <p><a href="../applications/PIPS_win.zip" download>DOWNLOAD WINDOWS .EXE FILE</a></p>

    <p><a href="../source/pips.zip" download>DOWNLOAD SOURCE</a></p>



    <h3>External Resources</h3>
    <ul>
      <li>Unity Game Engine : <a href="https://unity3d.com/">https://unity3d.com/</a> </li>
        <p>We used the popular game engine Unity to accelerate our development process. This helped us with rendering, scene setup, character animation, character assets, controller input, particle system, sound, and deployment.</p>



      <li>Soundtrack : <div xmlns:cc="https://creativecommons.org/ns#" about="urn:sha1:42I5GWGUOGKNQKSKLNU5E2TNGVHQQFWY"><a rel="cc:attributionURL" property="cc:attributionName" href="https://ccmixter.org/files/texasradiofish/51247"> texasradiofish</a> / <a rel="license" href="https://creativecommons.org/licenses/by-nc/3.0/">CC BY-NC 3.0</a></div> </li>
        <p>We found this sick beat for our background music.</p>

      <li>Lamppost : <a href="https://www.turbosquid.com/3d-models/street-lamp-3d-model/473402">https://www.turbosquid.com/3d-models/street-lamp-3d-model/473402</a> </li>
        <p>I used this nice open souce 3D model of a lamppost.</p>


      <li>GroundTexture : <a href="https://opengameart.org/content/stone-pavement-ground-tile">https://opengameart.org/content/stone-pavement-ground-tile</a> </li>
        <p>I used this nice open souce tileable ground texture.</p>


      <li>Normal Map Creation : <a href="https://www.crazybump.com/">https://www.crazybump.com/</a> </li>
        <p>This is a neat little program that creates normal maps from images. I used it on the ground texture to create a nice effect with shading.</p>
    </ul>


    <h3>Gameplay</h3>
    <p>Below are a few screenshots and a video of our game.</p>


  <div class="container-fluid">
    <div id="screenshots" class="carousel slide" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#screenshots" data-slide-to="0" class="active"></li>
        <li data-target="#screenshots" data-slide-to="1"></li>
        <li data-target="#screenshots" data-slide-to="2"></li>
        <li data-target="#screenshots" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        
        {% include carousel-item.html active="active" filepath="../img/classes/5611csci/pips1.png" caption="" %}

        {% include carousel-item.html filepath="../img/classes/5611csci/pips2.png" caption="" %}

        {% include carousel-item.html filepath="../img/classes/5611csci/pips3.png" caption="" %}

        {% include carousel-item.html filepath="../img/classes/5611csci/pips4.png" caption="" %}

      </div>

      {% include carousel-controls.html %}

    </div>

    <p></p>

  {% include youtube.html ID="4AvL5_vrQrE" %}

    <p></p>

{% include blogBodyEnd.html %}

{% include footer.html %}

</body>
</html>
