---
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include headBoilerplate.html title="Dev_Lan" %}
  {% include navOffset.html %}
</head>
<body>

{% include navbarSimple.html %}

{% include blogBodyStart.html %}

  <h1><a href="5611csci.html">Animation and Planning in Games</a></h1>
  <h2>Assignment Three : Motion Planning</h2>

  <p><a href="../applications/planning.app.zip" download>DOWNLOAD MAC .APP FILE</a></p>

  <p><a href="../source/planning.zip" download>DOWNLOAD SOURCE</a></p>



  <h3>Tools used</h3>
  <ul>
    <li>G3D (graphics engine) : <a href="https://g3d.sourceforge.net/">https://g3d.sourceforge.net/</a> </li>
      <p>This basically serves as a wrapper around openGL calls, and provides utility classes such as Vectors and Cameras.</p>
    <li>GroundTexture : <a href="https://opengameart.org/node/11950">https://opengameart.org/node/11950/</a> </li>
      <p>I used this nice open souce tileable ground texture.</p>
  </ul>

  <h3>Features</h3>
  <h4>Listed in assignment description</h4>
    <ul>
     <li>Multiple obstacles</li>
     <li>Circular agent</li>
     <li>User obstacle creation</li>
     <li>User specified start/goal</li>
     <li>3D rendering</li>
     <li>path smoothing</li>
    </ul>



<div class="container-fluid">
  <div id="screenshots" class="carousel slide" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#screenshots" data-slide-to="0" class="active"></li>
      <li data-target="#screenshots" data-slide-to="1"></li>
      <li data-target="#screenshots" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% include carousel-item.html active="active" filepath="../img/classes/5611csci/path1.png" caption="" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/path2.png" caption="" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/path3.png" caption="" %}

    </div>

    <p></p>

      {% include carousel-controls.html %}

  </div>
</div>

<h4>User Controls</h4>
<ul>
  <li>"1" - Toggle roadmap visibility.</li>
  <li>"2" - Toggle path visibility.</li>
  <li>"r" - Reset agent back to start position.</li>
  <li>"click" - Set start position.</li>
  <li>"shift + click" - Set goal position.</li>
  <li>"space" - Add obstacles</li>
</ul>

  <p></p>

{% include blogBodyEnd.html %}

{% include footer.html %}

</body>
</html>
