---
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include headBoilerplate.html title="Dev_Lan" %}
  {% include navOffset.html %}
</head>
<body>

{% include navbarSimple.html %}


{% include blogBodyStart.html %}

  <h1><a href="5611csci.html">Animation and Planning in Games</a></h1>
  <h2>Assignment Two : Physics Based Animations</h2>
  <p>For assignment two I took two approaches for simulating water. My first attempt was to replicate the method in <a href="https://www.ligum.umontreal.ca/Clavet-2005-PVFS/">Particle-based Viscoelastic Fluid Simulation</a>. I ended up with a working implemtation of their method without the viscoelasticity. My second approach solves the less general problem of shallow water dynamics, but ends up with a nice visual in the end..</p>

  <p><a href="../applications/graphysics.app.zip" download>DOWNLOAD MAC .APP FILE</a></p>

  <p><a href="../source/graphysics.zip" download>DOWNLOAD SOURCE</a></p>



  <h3>Tools used</h3>
  <ul>
    <li>G3D (graphics engine) : <a href="https://g3d.sourceforge.net/">https://g3d.sourceforge.net/</a> </li>
      <p>This basically serves as a wrapper around openGL calls, and provides utility classes such as Vectors and Cameras. I still wrote all the shaders for this project as well as all of the particle system code.</p>
    <li>GroundTexture : <a href="https://www.startextures.com/free-nature-texture-2585.html">https://www.startextures.com/free-nature-texture-2585.html</a> </li>
      <p>I used this nice open souce underwater vegetation for a better effect with my water simulations.</p>
  </ul>

  <h3>Features</h3>
  <h4>Listed in assignment description</h4>
    <ul>
     <li>Realtime 3D SPH on the CPU</li>
     <li>2D Shallow Water</li>
     <li>Ray Traced Water (2D shallow only)</li>
     <li>3D controlled camera (I used a G3D camera manipulator class)</li>
     <li>3D implementation</li>
     <li>Realtime rendering</li>
     <li>Video documentation</li>
     <li>Lax-Wendroff integration</li>
     <li>Real-time user interaction with system</li>
     <li>Art Contest Submissions, see below</li>
    </ul>

  <h3>Art Gallery</h3>
  <p>I wanted to share more than one image from my shallow water method, so here is my album titled "The World is a Beautiful Place at Four in the Morning." If I had to choose one for the art contest I would submit the 4th one in the album aka "Bloooop blooop bloop blop plob plib".</p>



<div class="container-fluid">
  <div id="screenshots" class="carousel slide" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#screenshots" data-slide-to="0" class="active"></li>
      <li data-target="#screenshots" data-slide-to="1"></li>
      <li data-target="#screenshots" data-slide-to="2"></li>
      <li data-target="#screenshots" data-slide-to="3"></li>
      <li data-target="#screenshots" data-slide-to="4"></li>
      <li data-target="#screenshots" data-slide-to="5"></li>
      <li data-target="#screenshots" data-slide-to="6"></li>
      <li data-target="#screenshots" data-slide-to="7"></li>
      <li data-target="#screenshots" data-slide-to="8"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      {% include carousel-item.html active="active" filepath="../img/classes/5611csci/water1.png" caption="Bloop" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/water2.png" caption="At the precipice of 4" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/water3.png" caption="Underwater Bloops" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/water4.png" caption="Bloooop blooop bloop blop plob plib" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/water5.png" caption="Chaos" %}            
      
      {% include carousel-item.html filepath="../img/classes/5611csci/water6.png" caption="Even Angrier Chaos!!" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/water7.png" caption="Whaaaaat?" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/water8.png" caption="The Duality of Man" %}

      {% include carousel-item.html filepath="../img/classes/5611csci/water9.png" caption="#sodeep" %}

    </div>

    {% include carousel-controls.html %}


  </div>

  <p></p>

  {% include youtube.html ID="2sAIag6sN7g" %}


  <h4>User Controls</h4>
  <ul>
    <li>"1" - Reset SPH particles.</li>
    <li>"2" - Reset shallow water simulation.</li>
    <li>"3" - Toggle which simulation to view.</li>
    <li>"p" - Pause simulation.</li>
    <li>"o" - Toggle slow motion mode of simulation.</li>
    <li>"r" - Toggle render mode of shallow water simulation.</li>
    <li>"g" - Toggle gravity on SPH simulation.</li>
    <li>"h" - Toggle constraints on SPH simulation.</li>
    <li>"space" - Add water (both systems).</li>
  </ul>

  <p></p>

{% include blogBodyEnd.html %}

{% include footer.html %}

</body>
</html>
