.wrapperContainer {
	/*display: flex;*/
	/*background: bisque;*/
	/*border: solid black 1px;*/
	/*flex-direction: row;*/
	flex-grow: 1;
}

.toggleButton.on {
    color: white;
    background: black;
}
.toggleButton:hover {
    border: solid gray 1px;
}

.toggleButton {
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: solid white 1px;
    font-size: 8pt;
    font-family: 'Roboto', sans-serif;
}