.uploadFileButton {
    background: hsl(232, 100%, 97%);
    flex-basis: 146px;
    border: solid black 1px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16pt;
    font-weight: 400;
    user-select: none;
    padding: 5px;
}

.uploadFileButton:hover {
    background: hsl(232, 100%, 78%);
}

.uploadFileButton:active {
    background: hsl(232, 100%, 39%);
    color: white;
}

.uploadFileButtonIcon {
    padding-right: 6px;
}

.uploadFileButtonContainer {
    display: flex;
}