.exampleSetContainer {
    margin-top: 8px;
}

.dataSelectHeader {
	display: inline;
    padding-left: 12px;
}

.valueHeader {
    display: inline;
    margin-left: 10px;
    color: #000c6f;
}

.optionButton {
	border-radius: 3px;
    margin-right: 5px;
    border: solid black 1px;
    font-size: 9pt;
}

.exportSubsetButton {
    border-radius: 3px;
    margin-right: 5px;
    border: solid black 1px;
    font-size: 10pt;
    background: #3c5f00;
    color: white;
}

.selected {
	color: white;
    background: #000c6f;
}

.buttonContainer {
	margin-left: 8px;
}