.imageDetailContainer {
    flex-grow: 1;
    overflow: scroll;
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-right: 8px;
    border: solid white 0px;
    border-bottom-width: 15px;
}

.imageInGrid {
    border: solid gray 1px;
    margin: 1px;
    margin-bottom: 10px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
}

.numSelectedNumber {
	will-change: transform;
	
}

.myHeader {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 8px;
}

.paddingBottom {
    padding-bottom: 4px;
}

.horizontalLine
{
    width: 100%;
    border-color: #a2a2a2;
    border-style: dashed;
    height: 3px;
    background: #a2a2a2;
    border-top-color: white;
    border-bottom-color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 6px;
    border-bottom-width: 6px;
}

.marginBot {
    margin-bottom: 10px
}

.marginTop {
    margin-top: 10px
}

.noneSelectedMessage {
    margin: 16px;
}

.detailsContainerPopup {
    position: absolute;
    top: 100px; 
    left: 100px;
    background: white;
    border: solid black 1px;
    padding: 8px;
    border-radius: 12px;
    text-align: center;
}