.imageDetailContainer {
    flex-grow: 1;
    overflow: scroll;
    box-sizing: border-box;
    padding-bottom: 30px;
    border: solid white 0px;
    border-bottom-width: 15px;
}

.imageInGrid {
    border: solid gray 1px;
    margin: 1px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
}

.numSelectedNumber {
	will-change: transform;
	
}

.myHeader {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}