.vizContainer {
	flex-shrink: 0;
	vertical-align: middle;
}


.mainGroup {
	/*background: blue;*/
}

.imagePoint {
    stroke: black;
    stroke-opacity: 0.3;
    /*fill: hsla(0,0%,0%,0);*/
    /*fill: rgba(0,0,0,0);*/
    stroke-width: 1;
    /*fill-opacity: 0;*/
}

.dataInBrush {
	/*fill: red;*/
	stroke-opacity: 1;
}

.selection {
	/* brush rectangle*/
	stroke: #020b6f;
    stroke-width: 1px;
    stroke-opacity: 0.6;
    fill-opacity: 0.05;
}

.shadedOutInLegend {
    fill: black;
    fill-opacity: 0.5;
}
}

.colorLegendGroup .selection {
    fill-opacity: 0;
}