.vizContainer {
	flex-shrink: 0;
}


.mainGroup {
	/*background: blue;*/
}

.imagePoint {
    stroke: hsla(0, 0%, 0%, 0.5);
    fill: hsla(0,0%,0%,0);
    stroke-width: 1;
}

.dataInBrush {
	fill: red;
}



