/* Simple CSS Reset */

* {
	padding: 0;
	margin: 0;
}

body, html {
    width: 100vw;
    height: 100vh;
}

.full-width {
    width: 100vw;
    max-width: 100vw;
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.outer-container.run {
    background: tomato;
}

.outer-container.rest {
    background: steelblue;
}

.display-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 0;
}

.clock-time {
    display: flex;
    align-items: center;
    margin: 12px;
}

.complete {
    fill: black;
}

.in-progress {
    fill: white;
    stroke: black;
    stroke-width: 8px;
}

.incomplete {
    fill: white;
}

.svg-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}



.label {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.next.label {
    display: flex;
    text-align: left;
    align-items: center;
    height: 100%;
}

.huge.label {
    font-size: min(14vw, 14vh);
}

.medium.label {
    font-size: min(4vw, 4vh);
}

.small.label {
    font-size: min(3vw, 3vh);
}

.no-display {
    display: none !important;
}

.play-pause {
    border: 0;
    background: none;
    font-size: min(14vw, 14vh);
}