---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dev-Lan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../style/darkly-bootstrap.min.css">
    <link rel="stylesheet" href="../../style/devlan-style.css">
      <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <style type="text/css">
        body {
                padding-top: 65px;
            }

        li.L0, li.L1, li.L2, li.L3,
        li.L5, li.L6, li.L7, li.L8
        { list-style-type: decimal !important }
    </style>
<body>

{% include navbar.html %}

    <div id="wrapper">


    {% include sidebar.html %}

    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Outline</a>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Lesson_0 : Do as I say computer!</h1>

                        <!-- intro -->
                        <p>
                            Finally we get to begin our journey of ordering around computers to do our bidding. In fact our electronic servants only ever perform tasks if some person has programmed that behavior into them. What's more, they carry out these tasks <i>exactly</i> as they have been instructed to. While at its core this is a great feature, at first it can seem like you are trying to get help from Amelia Bedelia.
                        </p>

                        <img class="img-responsive center-block" src="../../img/tutorials/csci-intro/lesson_0-01.png">

                        <p>
                            While learning this is at worst a annoying inconvenience, but if you ever end up doing more serious projects with your code the results may be more <a href="http://www.dorkly.com/post/71065/why-amelia-bedelia-is-the-most-terrifying-character-ever">drastic.</a>
                        </p>

                        <p>
                            So even though the computer will always do exactly as you say, sometimes the results can surprise you. In particular work with artificial intelligence is interesting since often the instructions you are giving your computer are not to do a specific task, but rather to <i>learn</i> how to do that task. This distinction has generated some concern about what will happen if we teach a computer to outthink us. In my (and many <a href="http://futureoflife.org/ai-open-letter/">others</a> more esteemed than me) think that this is a valid concern. That said this is a fairly nuanced topic to delve into here, but suffice it to say that a panicky fear of a robotic uprising is not the appropriate response.
                        </p>

                        <p>
                            When you first start programming, your biggest obstacle in communicating with the computer will not be accidentally creating a Skynet system of robotic overlords that rules over humans with an iron fist. Instead it will be the much more mundane task of dealing with syntax. <a href="https://en.wikipedia.org/wiki/Syntax_(programming_languages)">Syntax</a> is the set of rules that defines how you give commands to your computer. I'm no expert in language theory, so informally (read likely pedantically incorrect) I think of syntax like grammar in human languages, except the computer will tolerate no mistakes. It's like if your english teacher read your 10 page report on pterodactyl grooming behavior, discovered you used a comma when it should've been a semicolon and as a result gave you a 0% on the project. If you have incorrect syntax and you try to run your code it will fail and give you a syntax error.
                        </p>

                        <!-- body -->
                        <p>
                            We are going to begin by examining in closer detail the code from the last lesson.
                        </p>
                            
                        <pre class="prettyprint lang-python linenums">
# Copy Me!
size(400, 400)
background(0, 0, 0)
fill(255, 255, 0)
arc(200, 200, 360, 360, QUARTER_PI, 7 * QUARTER_PI, PIE)</pre>

                        <p>
                            Line 1 is a comment. Comments are placed in code to help humans understand the code. The computer will completely ignore comments. In Python to make a comment you simply use the number sign #, or hashtag for all you twitter lovers. Anything that follows a # will be ignored by the computer. The last four lines are all function calls to functions that are provided by Processing. A function is a chunk of code that you want to use multiple times. To call a function in Python you have to use the following syntax.
                        </p>

                        <pre class="pretttyprint lang-python">
functionName(firstArgument, secondArgument, ..., lastArgument)</pre>

                        <p>
                            Arguments are the things that you pass into your function. A function can be defined to take any number of arguments, including zero. When you call your function you have to pass in the correct number of arguments or else you will suffer a syntax error. If you have zero arguments you still need an open and closing parenthesis, but there will be nothing between them.
                        </p>

                        <pre class="prettyprint lang-python linenums">
# You can comment / uncomment code with "command + /"" on Mac 
size(400, 400)
# background(0, 0, 0)
# fill(255, 255, 0)
# arc(200, 200, 360, 360, QUARTER_PI, 7 * QUARTER_PI, PIE)</pre>

                        <p>
                            Here I have commented out everything except line 2. This line calls the processing function "size". Here the function name is size. The first argument of 400 specifies how many pixels wide the window will be, and the second argument, which also happens to be 400 does the same thing same thing in height. Try running the code above. Change the arguments to different values. What do you expect to see if you call <i>size(200, 800)</i>. What do you actually see? What if you have multiple calls to size?
                        </p>

                        <p>
                            All of the functions provided by Processing are described on their <a href="http://py.processing.org/reference/">reference</a> page. You should refer to this after my explanations for more details.
                        </p>

                        <pre class="prettyprint lang-python linenums">
# You can comment / uncomment code with "ctrl + /"" on Windows 
size(400, 400) # sets size of window
background(0, 0, 0)
# fill(255, 255, 0)
# arc(200, 200, 360, 360, QUARTER_PI, 7 * QUARTER_PI, PIE)</pre>

                        <p>
                            If you uncomment line 3 and run your code again, you will can see that <i>background</i> will change the background color of the window. Color is typically represented with three values. You can leave it at that for now, but if your are really interested you can look at Processing's color <a href="http://py.processing.org/tutorials/color/">tutorial.</a>
                        </p>

                        <pre class="prettyprint lang-python linenums">
# blah blah blah blah
size(400, 400) # sets size of window
background(0, 0, 0) # sets background color of window to black
fill(255, 255, 0)
# arc(200, 200, 360, 360, QUARTER_PI, 7 * QUARTER_PI, PIE)</pre>

                        <p>
                            If you uncomment line 4 and run your code again you will see that there is no change in the output you see. Some code you will run will have no apparent effect on their own, but are doing important things behind the scenes. In this case <i>fill</i> changes the color that will be used for subsequent shapes drawn. This operation is like picking a color in your favorite paint program.
                        </p>

                        <pre class="prettyprint lang-python linenums">
# The sauce makes the goose more succulent
size(400, 400) # sets size of window
background(0, 0, 0) # sets background color of window to black
fill(255, 255, 0) # sets color of subsequent shapes to yellow
arc(200, 200, 360, 360, QUARTER_PI, 7 * QUARTER_PI, PIE) # draws arc shape</pre>

                        <p>
                            Finally we get to draw the body of Pacman with the arc shape function. TODO - finish
                        </p>

                        <p>
                            
                        </p>

                        <h2>Excercises</h2>
                        
                        <h2>Parting  Thoughts</h2>


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        
    </div>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
